<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Simple app</title>
   </head>
   <body>
      {% if name %}
         <div>User: {{ name }}</div>
      {% endif %}
      <ol>
         {% for user in users %}
         <li>
            <div>{{ user }}</div>
         </li>
         {% endfor %}
      </ol>
   </body>
</html>
